/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  background-color: #fff;
  overflow: hidden;
}
.addtxt {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 13px;
  width: 350px;
  background-color: #e5e8ed;
  font-weight: 500;
}
.form-control: focus {
  color: #000;
}
.second {
  width: 350px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 10px 10px 5px #aaaaaa;
}
.text1 {
  font-size: 13px;
  font-weight: 500;
  color: #56575b;
}
.text2 {
  font-size: 13px;
  font-weight: 500;
  margin-left: 6px;
  color: #56575b;
}
.text3 {
  font-size: 13px;
  font-weight: 500;
  margin-right: 4px;
  color: #828386;
}
.text3o {
  color: #00a5f4;
}
.text4 {
  font-size: 13px;
  font-weight: 500;
  color: #828386;
}
.text4i {
  color: #00a5f4;
}
.text4o {
  color: white;
}
.thumbup {
  font-size: 13px;
  font-weight: 500;
  margin-right: 5px;
}
.thumbupo {
  color: #17a2b8;
}

#bootstrap-overrides {
  background-color: red;
}

.numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 9px;

  background: rgb(22, 191, 59);
  color: rgb(255, 255, 255);
  text-align: center;

  font: 16px Arial, sans-serif;
}

.warning {
  visibility: hidden;
  color: red;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, 25%);
}

.vl {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
