<div class="pt-3 pb-2">
  <form onsubmit="new_comment({{"'"}}{{post_id}}{{"'"}});">
    <div class="col-12 mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Comments</label>
      <textarea class="form-control" id="comment_content_{{post_id}}" rows="3" placeholder="Add comment..."></textarea>
    </div>
    <div class="col-auto">
      <button type="button" onclick="new_comment({{"'"}}{{post_id}}{{"'"}});" class="btn btn-primary mb-3">Comment</button>
    </div>
  </form>
</div>



  {% for comment in comments: %}

  <div class="container row">
    <div class="col-10"><p>{{comment[strings.key_comment_content]}} </p>- 
      {{comment[strings.key_comment_user]}}</div>
    <div class="col"> 
      {% if is_moderator is true %}
      <button type="button" class="btn-close align-middle" aria-label="Close" onclick="delete_comment({{'"'}}{{comment['_id']}}{{'"'}}, {{'"'}}{{post_id}}{{'"'}})"></button>
      {% endif %}
    </div>
    <br>
    <br>
    <hr>
  </div>
  {% endfor %}
</div>
