<br>
<hr>

{% for comment in comments: %}
<div class="row">
  <div class="d-flex justify-content-between">
    <p>{{comment[strings.key_comment_content]}}</p>
    {% if is_moderator is true %}
    <div class="col-1">
      <button type="button" class="btn-close align-middle" aria-label="Close" onclick="delete_comment({{'"'}}{{comment['_id']}}{{'"'}}, {{'"'}}{{post_id}}{{'"'}})"></button>
    </div>
    {% endif %}
  </div>
</div>
<p style="font-size:12px" class="text-muted ">{{comment[key_comment_date_created]}}</p>
<hr>
{% endfor %}

