<br>
<hr>

{% for comment in comments: %}
<div class="row">
  <div class="col-11">
    <p>{{comment[strings.key_comment_content]}}</p>
  </div>
  <div class="col"> 
    {% if is_moderator is true %}
    <button type="button" class="btn-close align-middle" aria-label="Close" onclick="delete_comment({{'"'}}{{comment['_id']}}{{'"'}}, {{'"'}}{{post_id}}{{'"'}})"></button>
    {% endif %}
  </div>
</div>
<p style="font-size:12px" class="text-muted ">{{comment[key_comment_date_created]}}</p>
<hr>
{% endfor %}

