<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://cdn-icons-png.flaticon.com/512/32/32441.png"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      TigerGroups
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

      <li class="nav-item dropdown d-flex">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://www.freeiconspng.com/uploads/account-profile-user-icon--icon-search-engine-10.png"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdown"
        >
          <li>
            <form class="" action="/logout" method="get">
              <button type="submit" class="btn btn-danger float-end">
                Logout
              </button>
            </form>
          </li>
        </ul>
      </li>
    </div>
  </div>
</nav>
