<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TigerGroups</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="mt-4 mb-1 mx-3">{% include "header.html" %}</div>
    <div>
      <!-- Secondary Header (Groups, Content, Information) -->
      <div class="mb-4 mt-1 container-fluid">
        <hr/>
        <div class="row">
          <!-- New Group Button -->
          <div
            class="d-flex col-md-3 no-float align-items-center justify-content-between"
          >
            <div><h4>Groups</h4></div>
            <div>
              <button
                type="button"
                class="pt-2 pb-1 border border-dark btn btn-white btn-outline btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#NewGroup"
              >
              <h5>+ New Group</h5>
              </button>
            </div>
          </div>
          <!-- New Group Modal -->
          <div class="modal" id="NewGroup">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">New Group</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                  ></button>
                </div>
                <div class="modal-body">
                  <form action="/new_group" method="POST">
                    <div>
                      <label class="form-label">Group Name</label>
                      <input type="text" name="title" class="form-control" />
                    </div>
                    <div>
                      <label class="form-label">Description</label>
                      <textarea
                        class="form-control"
                        name="description"
                        rows="3"
                      ></textarea>
                    </div>
                    <label>Color</label>
                    <div>
                      <input
                        type="radio"
                        class="btn-check"
                        name="color"
                        id="option1"
                        value="bg-light text-dark"
                        autocomplete="off"
                        checked
                      />
                      <label class="btn btn-outline" for="option1">White</label>

                      <input
                        type="radio"
                        class="btn-check"
                        name="color"
                        id="option2"
                        value="bg-warning text-dark"
                        autocomplete="off"
                      />
                      <label class="btn btn-outline-warning" for="option2"
                        >Orange</label
                      >

                      <input
                        type="radio"
                        class="btn-check"
                        name="color"
                        id="option3"
                        value="bg-primary text-light"
                        autocomplete="off"
                      />
                      <label class="btn btn-outline-primary" for="option3"
                        >Blue</label
                      >

                      <input
                        type="radio"
                        class="btn-check"
                        name="color"
                        id="option4"
                        value="bg-success text-light"
                        autocomplete="off"
                      />
                      <label class="btn btn-outline-success" for="option4"
                        >Green</label
                      >

                      <input
                        type="radio"
                        class="btn-check"
                        name="color"
                        id="option5"
                        value="bg-danger text-light"
                        autocomplete="off"
                      />
                      <label class="btn btn-outline-danger" for="option5"
                        >Red</label
                      >

                      <input
                        type="radio"
                        class="btn-check"
                        name="color"
                        id="option6"
                        value="bg-info text-light"
                        autocomplete="off"
                      />
                      <label class="btn btn-outline-info" for="option6"
                        >Cyan</label
                      >

                      <input
                        type="radio"
                        class="btn-check"
                        name="color"
                        id="option8"
                        value="bg-secondary text-light"
                        autocomplete="off"
                      />
                      <label class="btn btn-outline-secondary" for="option8"
                        >Grey</label
                      >
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary float-end">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- New Post Button -->
          <div class="list-group col">
            <div class="row">
              <div
                class="d-flex px-md-5 col-8 no-float align-items-center justify-content-between"
              >
                <div><h4>Content</h4></div>
                <div>
                  <button
                    type="button"
                    class="pt-2 pb-1 border border-dark btn btn-white btn-outline btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#NewPost"
                  >
                  <h5>+ New Post</h5>
                  </button>
                </div>
              </div>
              <!-- Add User Button -->
              <div
                class="d-flex col-4 no-float align-items-center justify-content-between"
              >
                <h4>Information</h4>
                <div>
                  <button
                    type="button"
                    class="pt-2 pb-1 border border-dark btn btn-white btn-outline btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#AddUser"
                  >
                  <h5>+ Add User</h5>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- New Post Modal -->
          <div class="modal" id="NewPost">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">New Post</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                  ></button>
                </div>
                <div class="modal-body">
                    <div>
                      <label class="form-label">Title</label>
                      <input type="text" name="title" id="post-title" class="form-control" />
                    </div>
                    <div>
                      <label class="form-label">Body</label>
                      <textarea
                        id="post-body"
                        class="form-control"
                        name="body"
                        rows="8"
                      ></textarea>
                    </div>
                    <div><h6 class="warning">text fields cannot be empty!</h6></div>
                    <button type="submit" onclick="newPost()" class="btn btn-primary float-end">
                      Submit
                    </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Add User Modal -->
          <div class="modal" id="AddUser">
            <div class="modal-dialog">let new_user = $("#new_user_id").val();
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Add User</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                  ></button>
                </div>
                <div class="modal-body">
                  
                    <div>
                      <label class="form-label">netid:</label>
                      <input type="text" name="new_user" class="form-control" id="new_user_id"/>
                    </div>
                    <div><h6 id="warning_user" class="warning">default</h6></div>
                    <button type="submit" class="btn btn-primary float-end" onclick="newUser()">
                      Add User
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr/>
      </div>

      <!-- Groups -->
      <div class="container-fluid">
        <div class="mx-3 row">
          <div style="height: calc(100vh - 220px); overflow-y: scroll;" class="example list-group col-3 no-float">
            <ul class="list-group" id="list-tab" role="tablist">
              {% for group in groups: %}
              <a
                class="my-2 py-4 border border-dark rounded list-group-item list-group-item-action {{group[strings.key_group_color]}}"
                id="{{group['_id']}}"
                onclick="getPosts('{{group["_id"]}}');;"
                data-toggle="list"
                role="tab"
              >
                <div class="row mb-2 mt-2">
                  <h5 class="col">{{group[strings.key_group_name]}}</h5>
                  {% if netid in group[strings.key_group_moderatorids]%}
                  <div class="col">
                    <div class="numberCircle float-end">M</div>
                  </div>
                  {% endif %}
                </div>
              </a>
              {% endfor %}
            </ul>
          </div>
        

          <div class="list-group col" id="posts_view"></div>
        </div>
      </div>
    </div>

    {% block javascript %}
    <script src="{{ url_for('static',filename='home.js') }}"></script>
    {% endblock %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
