<div class="row">
<div style="height: calc(100vh - 220px); overflow-y: scroll;" class="example list-group col-8 px-md-3">
{% for post in posts: %}
<li class="mx-4 list-group-item flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">

    <div><h5 class="mb-1">{{post[strings.key_post_title]}}</h5></div>
    <div>
      <small>{{post[key_post_date_created]}}</small>
      {% if is_moderator is true %}
      <button type="button" class="btn-close align-middle" data-bs-toggle="modal"
      data-bs-target="#DelPost" aria-label="Close" onclick="setDeleteConfirmationPost({{'"'}}{{post['_id']}}{{'"'}})"></button>
      {% endif %}
    </div>

    <!--Delete Post Confirmation-->
    <div class="modal" id="DelPost">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Are you sure you want do delete this post?</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body">
              <div class="clearfix">
                <button type="button" data-bs-dismiss="modal" class="cancelbtn">Cancel</button>
                <button type="button" data-bs-dismiss="modal" class="deletebtn" onclick="delete_post(post_id_del)" >Delete</button>
              </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <p class="mb-1">{{post[strings.key_post_body]}}</p>
  <div class="d-flex w-100 justify-content-between">
    <div>
      <button type="button" class="btn btn-outline-dark btn-sm" onclick="likePost({{'"'}}{{post['_id']}}{{'"'}})">
        ♥ Like
      </button>
      <button
        type="button"
        class="btn btn-outline-dark btn-sm"
        onclick="get_comments({{'"'}}{{post['_id']}}{{'"'}});">
        Comment
      </button>
      </div>
    <small>{{post[strings.key_post_numlike]}} likes</small>
  </div>
  <div id="{{post['_id']}}"></div>
</li>
{% endfor %}
</div>


<!-- Members List -->
<div id="members_list" style="height: calc(100vh - 220px); overflow-y: scroll;" class="example list-group-flush col-4">
  {% for user in users: %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    {{user}}
    <div class="d-flex flex-row">

      <!-- M -->
      {% if is_member_moderator[user] is true %}
      <h6 class="mt-2 text-muted">M&nbsp&nbsp</h6>
      {% endif %}
      <!-- End M -->

      <!--Dropdown Button-->
      {% if is_moderator is true %}
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#DelUser" onclick="setRemoveConfirmationUser({{'"'}}{{user}}{{'"'}})">Remove User</a></li>
          <li> <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#MakeMod" onclick="setRemoveConfirmationUser({{'"'}}{{user}}{{'"'}})">Make Moderator</a></li>
          {% if is_member_moderator[user] is true %}
          <li> <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#MakeNormal" onclick="setRemoveConfirmationUser({{'"'}}{{user}}{{'"'}})">Remove Moderator</a></li>
          {% endif %}
        </ul>
      </div>
      <!--End Dropdown Button-->
      {% endif %}

    </div>
  </li>
  <!-- End Members List -->


  <!--Delete User Confirmation-->
  <div class="modal" id="DelUser">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are you sure you want do delete this user?</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal" 
          ></button>
        </div>
        <div class="modal-body">
            <div class="clearfix">
              <button type="button" data-bs-dismiss="modal" class="cancelbtn">Cancel</button>
              <button type="button" data-bs-dismiss="modal" class="deletebtn" onclick="remove_user_from_group(user_id_rem)">Delete</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Delete User Confirmation-->

  <!--Make User Moderator-->
  <div class="modal" id="MakeMod">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are you sure you want do make this user a moderator?</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal" 
          ></button>
        </div>
        <div class="modal-body">
            <div class="clearfix">
              <button type="button" data-bs-dismiss="modal" class="cancelbtn">No</button>
              <button type="button" data-bs-dismiss="modal" class="deletebtn" onclick="make_user_moderator(user_id_rem)">Yes</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Make User Moderator-->

  <!--Make User Moderator-->
  <div class="modal" id="MakeNormal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are you sure you want to demote this user?</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal" 
          ></button>
        </div>
        <div class="modal-body">
            <div class="clearfix">
              <button type="button" data-bs-dismiss="modal" class="cancelbtn">No</button>
              <button type="button" data-bs-dismiss="modal" class="deletebtn" onclick="make_user_normal(user_id_rem)">Yes</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Make User Moderator-->

  {% endfor %}
  </div>
</div>