<div class="row ">
<div class="list-group col-8 px-md-3">
{% for post in posts: %}
<li class="list-group-item flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{post[strings.key_post_title]}}</h5>
    <small>{{post[key_post_date_created]}}</small>
  </div>
  <p class="mb-1">{{post[strings.key_post_body]}}</p>
  <div class="d-flex w-100 justify-content-between">
    <div>
      <button type="button" class="btn btn-outline-dark btn-sm">
        ♥ Like
      </button>
      <button
        type="button"
        class="btn btn-outline-dark btn-sm"
        onclick="get_comments({{'"'}}{{post['_id']}}{{'"'}});">
        Comment
      </button>
      </div>
    <small>{{post[strings.key_post_numlike]}} likes</small>
  </div>
  <div id="{{post['_id']}}"></div>
</li>
{% endfor %}
</div>
<div class="list-group col-4">
  {% for user in users: %}
  <a class="list-group-item">{{user}}</a>
  {% endfor %}
  </div>
</div>