<div class="row ">
<div class="list-group col-8 px-md-3">
{% for post in posts: %}
<li class="list-group-item flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <div><h5 class="mb-1">{{post[strings.key_post_title]}}</h5></div>
    <div>
      <small>{{post[key_post_date_created]}}</small>
      {% if is_moderator is true %}
      <button type="button" class="btn-close align-middle" aria-label="Close" onclick="delete_post({{'"'}}{{post['_id']}}{{'"'}})"></button>
      {% endif %}
    </div>
  </div>
  <p class="mb-1">{{post[strings.key_post_body]}}</p>
  <div class="d-flex w-100 justify-content-between">
    <div>
      <button type="button" class="btn btn-outline-dark btn-sm" onclick="likePost({{'"'}}{{post['_id']}}{{'"'}})">
        ♥ Like
      </button>
      <button
        type="button"
        class="btn btn-outline-dark btn-sm"
        onclick="get_comments({{'"'}}{{post['_id']}}{{'"'}});">
        Comment
      </button>
      </div>
    <small>{{post[strings.key_post_numlike]}} likes</small>
  </div>
  <div id="{{post['_id']}}"></div>
</li>
{% endfor %}
</div>
<div class="list-group list-group-flush col-4">
  {% for user in users: %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    {{user}}
    <button type="button" class="btn-close align-middle" aria-label="Close" onclick="remove_user_from_group({{'"'}}{{user}}{{'"'}})"></button>
  </li>
  {% endfor %}
  </div>
</div>